Brotli
colorama
h2
importlib_metadata
librosa
lmdb
matplotlib
munkres
pandas
pip
praat-parselmouth
praatio
pyarrow
PySide6
PySocks
PyWavelets
shiboken6
ssqueezepy
standard-aifc
standard-sunau
torchaudio
torchvision
tornado
unicodedata2
wheel
zstandard
opensmile